extends layout

block link
    -var selected='apartments';

block content
    .row
        .col-lg-8.col-md-12.col-sm-12.offset-lg-2
            .row.bg-secondary.text-white.no-gutters
                .col-md-4.col-sm-12
                    .text-right.mr-2.ml-2.mt-5
                        h4(class="text-right") Τα διαμερίσματα
                        p(class="text-right") Κατασκευασμένα με σκοπό να ικανοποιούν όλες τις απαιτήσεις. Η διαχρονικότητα και η αντοχή των διαμερισμάτων είναι αποτέλεσμα της ευθύνης μας για κατασκευή πέρα των ελληνικών προδιαγραφών.
                        a(href='/brochure' target="_blank" class='text-white') Διάβασε περισσότερα στο φυλλάδιο
                .col-md-8.col-sm-12
                        image(class='img-fluid' src='img/Renders/20001/20001-camera06_1320x1080.jpg' alt='ekia')
            .row.bg-primary.text-white.no-gutters
                .col-sm-12.d-md-none
                    .text-center.mt-5
                        h4(class="text-center") Διαμερίσματα 62, 63 & 64
                        p(class="text-center") Υλικά επιλεγμένα από όλη την Ελλάδα με έμφαση την απόλυτη πολυτέλεια για τα διαμερίσματα 62,63 & 64. Κυριαρχεί το κατάλευκο μάρμαρο Θάσου στους κύριους χώρους, τα δρύινα ξύλινα δάπεδα στα υπνοδωμάτια και τα συμπαγή ξύλινα κουφώματα. 
                .col-md-8.col-sm-12
                    image(class='img-fluid' src='img/Renders/30001/30001-camera04_1320x1080.jpg' alt='ekia')
                .col-md-4.col-sm-12.d-none.d-md-block
                    .text-left.mr-2.ml-2.mt-5
                        h4(class="text-left") Διαμερίσματα 62, 63 & 64
                        p(class="text-left") Υλικά επιλεγμένα από όλη την Ελλάδα με έμφαση την απόλυτη πολυτέλεια για τα διαμερίσματα 62,63 & 64. Κυριαρχεί το κατάλευκο μάρμαρο Θάσου στους κύριους χώρους, τα δρύινα ξύλινα δάπεδα στα υπνοδωμάτια και τα συμπαγή ξύλινα κουφώματα. 
                        a(href='/register' target="_blank" class='text-white') Δήλωσε ενδιαφέρον
            .row.bg-secondary.text-white.no-gutters
                .col-md-4.col-sm-12
                    .text-right.mr-2.ml-2.mt-5
                        h4(class="text-right") Προδιαγραφές
                        p(class="text-right") Τα υλικά κορυφαίων προδιαγραφών τόσο στον πυρήνα της οικοδομής αλλά και στις τοιχοποιείες, επενδύσεις, κουφώματα, και σωληνώσεις επιλέγχθηκαν με σκοπό να παρέχουν την μέγιστη δυνατή αξιοπιστία. Τα ανεξάρτητα συστήματα θέρμανσης σε κάθε διαμέρισμα επιτρέπουν τον ακριβή καταμερισμό και μέτρηση θερμικής ενέργειας. Οι ηλεκτρικοί πίνακες legrand, τα συστήματα πυρασφάλειας, και τα συστήματα θυροτηλεόρασης επιλέγχθηκαν για την ασφάλεια των κατοίκων.
                        a(href='/contact' target="_blank" class='text-white') Επικοινώνησε μαζί μας
                .col-md-8.col-sm-12
                        image(class='img-fluid' src='img/Renders/30001/30001-camera03_1320x1080.jpg' alt='ekia')
