extends layout

block link
    -var selected='contact';
    -var google_api_src="https://www.google.com/maps/embed/v1/place?q=Ptolemaida%20502%2000%20Mikras%20Asias%2027&key=AIzaSyDxba-Ox5SgZTrv_QIvHX9LFf1nbig5200";
    //-var google_api_src="https://www.ekia.gr";

block content
    .row.bg-primary.pb-5
        .col-lg-8.col-md-12.col-sm-12.offset-lg-2
            .container-fluid.pt-5.pb-5
                .row
                    .col-lg-4.col-md-6.col-sm-12.text-white.ml-5
                        h3.pb-2 Επικοινωνία
                        h4.pb-2 Μπιτάκης-Αραϊλόπουλος Ο.Ε.
                        p Μικράς Ασίας 27 | Πτολεμαΐδα
                        p Δευτέρα - Παρασκευή: 9:00 με 16:00 και 19:00 με 21:00
                        p Σάββατο: 10:00 με 15:00
                        p Τηλέφωνο: #[a(href='tel:+302463028917' target="_blank" class="text-white") +30 24630 28917]
                        p e-mail: #[a(href='mailto:enquries@ekia.gr' target="_blank" class='text-white') enquries@ekia.gr]
                    .col-lg-6.col-md-6.col-sm-12.mr-5.d-none.d-lg-block.mr-5.pb-5
                        div(id="map")
                            iframe(width="600" height="500" frameborder="0" style="border:0" src=google_api_src allowfullscreen>)
                    .col-lg-6.col-md-6.col-sm-12.d-lg-none.pb-5
                        div(id="map")
                            iframe(width="400" height="500" frameborder="0" style="border:0" src=google_api_src allowfullscreen>)
