extends layout

block link
    -var selected='NONE';

block content
    .row
        .col-lg-4.col-md-6.col-sm-12.offset-lg-4.offset-md-3
            .container-fluid.pt-5
                .row
                    .col-sm-12.text-left.text-primary
                            h3 Όροι χρήσης
                .row.pb-20
                    .col-sm-12.text-left
                            h4 Εισαγωγή
                            p Οι παρακάτω όροι χρήσης έχουν τεθεί από τον ιδιοκτήτη της ιστοσελίδας και ορίζουν τη σχέση μεταξύ επισκεπτών/χρηστών/συνδρομητών και της ιστοσελίδας #[a(href='/' target="_blank" class='text-secondary') ekia.gr] («ιστοσελίδα»). Οι χρήστες παρακαλούνται να διαβάσουν τους όρους χρήσεις προσεκτικά, ενώ αν υπάρχει διαφωνία με κάποιον από αυτούς, δεν θα πρέπει να γίνεται χρήση της εν λόγω «ιστοσελίδας». Η χρήση της συνεπάγεται την αποδοχή των όρων της. Η «ιστοσελίδα» διατηρεί το δικαίωμα να αλλάξει τους όρους χρήσης και των προσωπικών δεδομένων οποιαδήποτε στιγμή και χωρίς πρότερη ειδοποίηση, γι’ αυτό και ζητείται η ανάγνωση των όρων χρήσης σε κάθε επίσκεψη.

                            h5 Όροι Χρήσης
                            p Το περιεχόμενο της «ιστοσελίδας» δεν μπορεί να αντιγραφεί, αναπαραχθεί, διανεμηθεί και αναδημοσιευθεί, σε καμία μορφή, χωρίς την προηγούμενη συγκατάθεση του ιδιοκτήτη της «ιστοσελίδας». Είναι επιτρεπτή η εκτύπωση ή η ηλεκτρονική αποθήκευση του περιεχομένου της «ιστοσελίδας» για προσωπική χρήση, απαγορεύεται όμως, με κάθε τρόπο, η χρήση του για εμπορικούς σκοπούς. Οι επισκέπτες/χρήστες/συνδρομητές που επιθυμούν να εγγραφούν στις υπηρεσίες της «ιστοσελίδας» οφείλουν:

                            p Να δηλώσουν τα ορθά και πλήρη στοιχεία τους στο σχετικό χώρο της «ιστοσελίδας» και στη φόρμα εγγραφής για την πρόσβαση στις συνδρομητικές υπηρεσίες της.
                            p Να κατανοήσουν και να αναγνωρίσουν ότι, μετά την εγγραφή τους στην «ιστοσελίδα» για τις συνδρομητικές υπηρεσίες, το αντίστοιχο ποσό πληρωμής της συνδρομής, με κάθε μέσο (πιστωτική κάρτα, κατάθεση σε τραπεζικό λογαριασμό της «ιστοσελίδας» ή πληρωμή μέσω του συστήματος PayPal), δεν επιτρέπεται επ’ ουδενί να επιστραφεί και δεν μπορεί να καταστεί απαιτητό. Οι επισκέπτες/χρήστες/συνδρομητές, επίσης, αποδέχονται την έκδοση παραστατικού για τις υπηρεσίες που έχουν πληρωθεί και αποδέχονται την ευθύνη συμπλήρωσης των προσωπικών τους στοιχείων ή των στοιχείων της εταιρείας που νόμιμα εκπροσωπούν στο παραστατικό που εκδόθηκε από την «ιστοσελίδα».
                            p Να φροντίζουν να ενημερώνουν άμεσα την «ιστοσελίδα», σε περίπτωση αλλαγής των προσωπικών στοιχείων που έχουν υποβάλει, προκειμένου αυτά να είναι πάντοτε επίκαιρα, ακριβή και πλήρη.

                            h5 Αναστολή/Διακοπή υπηρεσιών
                            p Η «ιστοσελίδα» διατηρεί το αποκλειστικό δικαίωμα, το οποίο αποδέχονται οι χρήστες/επισκέπτες/συνδρομητές, να θέτει εκτός λειτουργίας την «ιστοσελίδα», προσωρινά ή μόνιμα, με ή χωρίς προειδοποίηση, με σκοπό να αποκατασταθούν τεχνικά προβλήματα. Η «ιστοσελίδα», επίσης, διατηρεί το δικαίωμα να παύσει να παρέχει τις υπηρεσίες της στους χρήστες που έχουν, έναντί της, ληξιπρόθεσμες οικονομικές υποχρεώσεις.

                            h5 Δεοντολογία χρηστών/επισκεπτών/συνδρομητών
                            p Ο χρήστης/επισκέπτης/συνδρομητής κατανοεί και αποδέχεται ότι, χρησιμοποιώντας τις υπηρεσίες της «ιστοσελίδας», μπορεί να εκτεθεί σε περιεχόμενο προσβλητικό, απρεπές ή παράνομο. Σε περίπτωση που η «ιστοσελίδα» λάβει ειδοποίηση ότι οποιοδήποτε περιεχόμενο προκαλεί υλική ζημία ή ηθική βλάβη σε τρίτο πρόσωπο, διατηρεί το δικαίωμα να προβεί στην άμεση διαγραφή του περιεχομένου αυτού και ταυτόχρονα να διακόψει τη λειτουργία του λογαριασμού του χρήστη/επισκέπτη/συνδρομητή, ο οποίος παραβιάζει τους όρους του παρόντος. Οι χρήστες/επισκέπτες/συνδρομητές συμφωνούν να μην κάνουν χρήση των υπηρεσιών της «ιστοσελίδας» για:

                            .ul(style="font-size:14px")
                                li Ανάρτηση, δημοσίευση, αποστολή, καταχώρηση, μεταφορά ή χρήση άλλης μεθόδου για την εγκατάσταση περιεχομένου που είναι παράνομο, επιβλαβές, απειλητικό, προσβλητικό, επιζήμιο, δυσφημιστικό, χυδαίο, βίαιο, υβριστικό, ρατσιστικό ή άλλως αποδοκιμαστέο, παραβιάζει την προσωπικότητα και τα προσωπικά δεδομένα άλλων, προκαλεί συναισθήματα μίσους, ή/και οποιοδήποτε άλλο συνιστάμενο ποινικό αδίκημα.
                                li Πρόκληση βλάβης σε ανήλικους με οποιοδήποτε τρόπο.
                                li Πλαστοπροσωπία οποιουδήποτε νομικού ή φυσικού προσώπου ή ψευδή δήλωση για την ταυτότητα του χρήστη/επισκέπτη/συνδρομητή ή παραπλανητική δήλωση αναφορικά με τη σχέση ή/και συνεργασία του χρήστη/επισκέπτη/συνδρομητή με κάποιο άλλο νομικό ή φυσικό πρόσωπο.
                                li Παραχάραξη ή άλλη αλλοίωση των διακριτικών γνωρισμάτων των χρηστών/επισκεπτών/συνδρομητών, με σκοπό την παραπλάνηση ως προς την προέλευση του περιεχομένου που μεταδίδεται μέσω των υπηρεσιών της «ιστοσελίδας».
                                li Ανάρτηση, δημοσίευση, αποστολή, καταχώρηση, μεταφορά ή χρήση άλλης μεθόδου για την εγκατάσταση περιεχομένου από άτομο που δεν έχει δικαίωμα να διαθέσει το συγκεκριμένο περιεχόμενο, βάσει νόμου ή βάσει εμπιστευτικής σχέσης.
                                li Ανάρτηση, δημοσίευση, αποστολή, καταχώρηση, μεταφορά ή χρήση άλλης μεθόδου για την εγκατάσταση λογισμικού ή περιεχομένου κάθε μορφής (κειμένου, εικόνας, ήχου, video, animation) που παραβιάζει οποιαδήποτε δικαιώματα πνευματικής ιδιοκτησίας οποιουδήποτε φορέα (συμπεριλαμβανομένων των εμπορικών μυστικών).
                                li Ανάρτηση, δημοσίευση, αποστολή, καταχώρηση, μεταφορά ή χρήση άλλης μεθόδου για την εγκατάσταση εξουσιοδοτημένης διαφήμισης ή άλλου περιεχομένου προώθησης προϊόντων, την αποστολή ανεπιθύμητων (junk mail ή spam) από τον λήπτη ηλεκτρονικών μηνυμάτων (e-mails) και οποιαδήποτε άλλη μορφή ανεπιθύμητης προώθησης περιεχομένου.
                                li Ανάρτηση, δημοσίευση, αποστολή, καταχώρηση, μεταφορά ή χρήση άλλης μεθόδου για την εγκατάσταση ή/και προώθηση ή/και διάθεση περιεχομένου που περιέχει ιούς λογισμικού ή οποιονδήποτε άλλο κώδικα ηλεκτρονικού υπολογιστή, αρχεία ή προγράμματα σχεδιασμένα να παρεμβληθούν, καταστρέψουν ή περιορίσουν τη λειτουργία οποιουδήποτε λογισμικού ή εξοπλισμού ηλεκτρονικών υπολογιστών ή τηλεπικοινωνιακού εξοπλισμού.
                                li Παραβίαση, με ή χωρίς πρόθεση, οποιουδήποτε εφαρμοστέου κανόνα τοπικού, εθνικού, ευρωπαϊκού, διεθνούς δικαίου ή/και οποιουδήποτε κανόνα που έχει νομοθετική ισχύ και αφορά ή/και καλύπτει οποιαδήποτε υπηρεσία της «ιστοσελίδας».
                                li Προσβολή με οποιονδήποτε τρόπο της ιδιωτικής ζωής και των ατομικών και κοινωνικών δικαιωμάτων άλλων χρηστών/επισκεπτών/συνδρομητών (όπως η συλλογή ή/και αποθήκευση προσωπικών δεδομένων άλλων χρηστών/επισκεπτών/συνδρομητών).

                            p Ο χρήστης/επισκέπτης/συνδρομητής της «ιστοσελίδας» κατανοεί και αποδέχεται ότι η «ιστοσελίδα» δεν κάνει προκαταρκτικό έλεγχο του περιεχομένου, αλλά ότι η «ιστοσελίδα» και οι εξουσιοδοτημένοι χειριστές της διατηρούν το δικαίωμα (και όχι την υποχρέωση), αποκλειστικά κατά τη διακριτική τους ευχέρεια, να αρνηθούν την ανάρτηση, δημοσίευση, καταχώρηση, μετακίνηση ή διαγραφή οποιουδήποτε περιεχομένου διατίθεται μέσω των υπηρεσιών της «ιστοσελίδας». Επίσης, η «ιστοσελίδα» και οι εξουσιοδοτημένοι χειριστές της διατηρούν το δικαίωμα να διαγράφουν οποιοδήποτε περιεχόμενο παραβιάζει τους παρόντες όρους χρήσης. Ο χρήστης/επισκέπτης/συνδρομητής κατανοεί και αποδέχεται τη διεθνή φύση του Διαδικτύου (Internet) και δεσμεύεται να σέβεται και να συμμορφώνεται προς τους κανόνες δεοντολογίας κάθε κράτους. Συγκεκριμένα, ο χρήστης/επισκέπτης/συνδρομητής δεσμεύεται να συμμορφώνεται προς τη νομοθεσία που αφορά τη μεταφορά δεδομένων από την Ελλάδα και την Ευρώπη προς τρίτα κράτη.

                            h5 Περιορισμός ευθύνης
                            p Η «ιστοσελίδα» ουδεμία ευθύνη φέρει για:
                            .ul(style="font-size:14px")
                                li Δυσλειτουργίες που σχετίζονται με το λογισμικό του χρήστη ή για λάθη και μη διαθεσιμότητα του Διαδικτύου ή για κάθε άλλη περίπτωση που βρίσκεται εκτός του ευλόγου ελέγχου και της αρμοδιότητάς της.
                                li Απώλεια του κωδικού πρόσβασης ή του ονόματος χρήστη του λογαριασμού ή από βλάβη, βραχυκύκλωμα, λάθος ή απώλεια ρεύματος, τα οποία σε κάθε περίπτωση έχουν προκληθεί από ή στο σύστημα του υπολογιστή του χρήστη/επισκέπτη/συνδρομητή.
                                li Επιπτώσεις που δύνανται να προκύψουν από ή σε σχέση με τη χρήση ή την προσπάθεια χρήσης αυτόματων προγραμμάτων να αποκτήσουν παράνομη πρόσβαση στο σύστημά της.
                                li Οποιαδήποτε απώλεια ή ζημία που οφείλεται σε ιό ή άλλο τεχνολογικά επιζήμιο υλικό που ενδέχεται να επηρεάσει τον ηλεκτρονικό εξοπλισμό, τα προγράμματα του ηλεκτρονικού υπολογιστή, δεδομένα ή άλλο υλικό που ανήκει στον χρήστη/επισκέπτη/συνδρομητή, λόγω της χρήσης της «ιστοσελίδας» ή της λήψης περιεχομένου της ή περιεχομένου κάθε άλλης ιστοσελίδας συνδεδεμένης με αυτή.

                            h5 Σύνδεσμοι με άλλες ιστοσελίδες
                            p Η παρούσα «ιστοσελίδα» περιέχει συνδέσμους με άλλες ιστοσελίδες, οι οποίες υπάρχουν προς διευκόλυνση του χρήστη, όπως η παροχή περαιτέρω πληροφοριών. Οι ιστοσελίδες αυτές δεν προωθούνται εμπορικά από την «ιστοσελίδα» και για τον λόγο αυτό η τελευταία ουδεμία ευθύνη φέρει για την ακρίβεια του περιεχομένου τους. Η «ιστοσελίδα» δεν εγγυάται ότι η ίδια ή οι άλλες ιστοσελίδες, που συνδέονται με αυτή, είναι ελεύθερες από ιούς ή άλλο επιβλαβές λογισμικό. Επομένως, η «ιστοσελίδα» δεν είναι υπεύθυνη για την προστασία και την εμπιστευτικότητα κάθε πληροφορίας που παρέχεται από τους χρήστες/επισκέπτες/συνδρομητές, κατά την επίσκεψή τους σε αυτές τις ιστοσελίδες, δεδομένου ότι οι τελευταίες δεν καθορίζονται από τους όρους χρήσης της «ιστοσελίδας».

                            p Η «ιστοσελίδα» ουδεμία ευθύνη φέρει για τη διαρκή, αδιάκοπη και ασφαλή πρόσβαση του χρήστη/επισκέπτη/συνδρομητή στις άλλες ιστοσελίδες. Συνεπώς, σε περίπτωση που ανακύψει οποιοδήποτε πρόβλημα κατά τη διάρκεια επίσκεψης σε αυτές τις ιστοσελίδες, οι επισκέπτες/χρήστες οφείλουν να απευθυνθούν απευθείας στις αντίστοιχες ιστοσελίδες για την αποκατάσταση του τεχνικού προβλήματος. Η «ιστοσελίδα» περιέχει υλικό που έχει υποβληθεί από τρίτα μέρη, αλλά ουδεμία ευθύνη φέρει για υλικό προερχόμενο από παρατυπίες, παραλείψεις, λάθη και ανακρίβειες του περιεχομένου, που έχει υποβληθεί από τρίτα μέρη. Οι πληροφορίες αυτών των ιστοσελίδων μπορούν να επικαιροποιηθούν ανά πάσα στιγμή και συχνά μπορεί να μην ισχύουν. Η «ιστοσελίδα» ουδεμία ευθύνη φέρει για την ενημέρωση, επικαιροποίηση και ισχύ των πληροφοριών που υπάρχουν σε αυτές τις ιστοσελίδες. Σε περίπτωση που κάποιος χρήστης/επισκέπτης/συνδρομητής έχει οικονομική ή εμπορική συναλλαγή με τρίτο μέρος, τότε αυτή η συναλλαγή θα είναι σύμφωνη με τους όρους χρήσης του τρίτου μέρους και όχι τους όρους χρήσης της «ιστοσελίδας». Η «ιστοσελίδα» ουδεμία ευθύνη φέρει για την διαδικασία και το αποτέλεσμα αυτής της τελικής συναλλαγής.

                            h5 Υλικό που υποβάλλεται στην «ιστοσελίδα»
                            p Υποβάλλοντας οποιοδήποτε υλικό στην «ιστοσελίδα», ο χρήστης/επισκέπτης/συνδρομητής παραχωρεί αυτόματα στην «ιστοσελίδα» το δικαίωμα και την άδεια η τελευταία να προβάλλει, δημοσιεύσει, μεταφράσει, αναπαραγάγει αυτό το υλικό ή μέρος του σε οποιοδήποτε μέρος του κόσμου, με οποιαδήποτε τεχνολογία. Ταυτόχρονα δε αναγνωρίζει ότι η «ιστοσελίδα» δεν έχει καμία υποχρέωση να προβάλλει ή δημοσιεύσει το υποβληθέν υλικό.

                            h5 Αποκλεισμός Ευθύνης
                            p Οι πληροφορίες που περιέχονται στο περιεχόμενο της «ιστοσελίδας» (συμπεριλαμβανομένων των ιστοσελίδων μεσιτών και μεσιτικών γραφείων, φωτογραφιών και εικόνων ακινήτων, προσωπικών πληροφοριών ή άλλων πληροφοριών εταιρειών ή ιδιωτών που διαφημίζουν ιστοσελίδες και υπηρεσίες ή υποβάλλουν αγγελίες για ενοικίαση ή αγορά ακινήτων) είναι μόνο για πληροφοριακούς σκοπούς. Το περιεχόμενο της «ιστοσελίδας» δεν αποτελεί συμβουλευτικό υλικό και ο χρήστης/επισκέπτης/συνδρομητής δεν θα πρέπει να βασίζεται σε αυτό, προκειμένου να λάβει οποιαδήποτε απόφαση ή να προβεί σε οποιαδήποτε ενέργεια. Η «ιστοσελίδα» δεν παρέχει καμία εγγύηση για την ακρίβεια, την αξιοπιστία ή την καταλληλότητα του σκοπού οποιουδήποτε υλικού που περιέχεται σ’ αυτήν ή για την αξιοπιστία πρόσβασης σ’ αυτήν. Σε κάθε περίπτωση, η «ιστοσελίδα» δεν αποδέχεται καμία ευθύνη σχετικά με ζημίες ή απώλειες που οφείλονται στη χρήση ή στην μη διαθεσιμότητα της χρήσης της «ιστοσελίδας». Το περιεχόμενο της «ιστοσελίδας» που προέρχεται από τρίτα μέρη (μεσίτες, ιδιώτες, χρήστες), δεν μπορεί να πιστοποιηθεί από την «ιστοσελίδα» ή να εγγυηθεί την ακρίβειά και εγκυρότητά του. Σε καμία περίπτωση η «ιστοσελίδα» δεν φέρει ευθύνη για την ακρίβεια της περιγραφής ενός ακινήτου ή για οικονομική ζημία που μπορεί να προκύψει από οποιαδήποτε συναλλαγή στην αγορά ακινήτων. Οι ιστοσελίδες που περιέχονται στην «ιστοσελίδα» μπορεί επίσης να περιέχουν τεχνικά ή τυπογραφικά λάθη.


                            h5 Ηλεκτρονικό Εμπόριο (E-commerce)
                            p Η «ιστοσελίδα» παρέχει στους χρήστες/επισκέπτες/συνδρομητές τη δυνατότητα αγοράς υπηρεσιών, μέσω εφαρμογών ηλεκτρονικού εμπορίου, σύμφωνα με τους ειδικότερους όρους που αυτό τάσσει, μεριμνώντας για την προστασία των προσωπικών δεδομένων που υποβάλλονται για τη χρήση των υπηρεσιών αυτών.

                            p Στις περιπτώσεις εφαρμογής ηλεκτρονικού εμπορίου μεταξύ των χρηστών/συνδρομητών και της ιστοσελίδας, η ιστοσελίδα είναι υποχρεωμένη να συμμορφώνεται προς την απόφαση Ζ1-496/2000 για τις πωλήσεις από απόσταση και τις διατάξεις του Ν. 2251/1994 για την Προστασία των Καταναλωτών.

                            p Έτσι, η «ιστοσελίδα» υποχρεούται να ενημερώνει τους υποψήφιους πελάτες της σχετικά με: α) τα ουσιώδη χαρακτηριστικά των υπηρεσιών που προσφέρει, β) την τιμή, γ) την ποσότητα, δ) το φόρο προστιθέμενης αξίας, εφόσον δεν περιλαμβάνεται στην τιμή, ε) τον τρόπο πληρωμής, στ) τον τρόπο εκτέλεσης και διεκπεραίωσης της παρασχεθείσας υπηρεσίας, ζ) τη διάρκεια ισχύος της προσφοράς ή της τιμής και η) το δικαίωμα υπαναχώρησης.

                            p Η πρόσβαση στις σελίδες/υπηρεσίες της «ιστοσελίδας» δεν συνεπάγεται κανένα επιπλέον κόστος, πέραν του ισχύοντος τιμολογιακού καθεστώτος για τη γενική πρόσβαση στο Διαδίκτυο, όπως έχει διαμορφωθεί από τον αρμόδιο παροχέα διαδικτύου (ISP's) και καταβάλλεται σε αυτόν και μόνο.

                            h5 Δικαιοδοσία - Αρμοδιότητα
                            p Οι όροι χρήσης και κάθε τροποποίηση αυτών, καθώς επίσης και οποιοδήποτε ζήτημα προκύπτει από αυτούς ή την τροποποίησή τους στο μέλλον, καθορίζονται από το Ελληνικό Δίκαιο, το Ευρωπαϊκό Δίκαιο και τις σχετικές Διεθνείς Συνθήκες. Για τυχόν δικαστικές διαφορές που εγείρονται σχετικά με τις υπηρεσίες και την εν γένει χρήση/επίσκεψη στην «ιστοσελίδα», αποκλειστικά αρμόδια είναι τα δικαστήρια της Αθήνας, γεγονός το οποίο αποδέχονται οι χρήστες/επισκέπτες/συνδρομητές.

                            h5 Πνευματική ιδιοκτησία
                            p Το περιεχόμενο και το δικαίωμα της χρήσης ή της απώλειας του περιεχομένου της «ιστοσελίδας» αποτελούν πνευματική ιδιοκτησία του ιδιοκτήτη της «ιστοσελίδας». Ο ιδιοκτήτης της «ιστοσελίδας» ελέγχει το περιεχόμενο και τη λειτουργία της «ιστοσελίδας» από την έδρα του, στην Ελλάδα.

                            h5 Σύμβαση
                            p Οι παρόντες όροι χρήσης συνιστούν τη συνολική συμφωνία/σύμβαση μεταξύ της «ιστοσελίδας» και κάθε χρήστη/επισκέπτη/συνδρομητή (μεσίτες, ιδιώτες κλπ).

                            h5 Επικοινωνία
                            p Εάν υπάρχει οποιαδήποτε ερώτηση ή διευκρίνιση για οτιδήποτε σχετικά με τα ανωτέρω αναφερόμενα, παρακαλούμε επικοινωνήστε μαζί μας στη διεύθυνση του ηλεκτρονικού μας ταχυδρομείου:  info@ekia.gr.
