extends layout

block link
    -var selected='brochure';

block content
    .row
        .col-lg-4.col-md-6.col-sm-12.offset-lg-4.offset-md-3
            .container-fluid.pt-5
                .row
                    .col-sm-12.text-left.text-primary
                            h3 Brochure
                .row.pb-20
                    .col-sm-12.text-center
                            h4
                                a(href='pdf/Ekia_Ptolemaida-Brochure.pdf' target="_blank" class='text-secondary') ekia
                                br
                                a(href='pdf/Ekia_Ptolemaida-Brochure.pdf' target="_blank")
                                    img(src="img/Ekia_Ptolemaida-Brochure.png" width="200" alt="Brochure" class="img-responsive center-block")
